/*CONTACTS*/

.contactsFrame{
    display: none;
    flex-direction: column;
}

.contactsHeadWrap{
    display: inline-flex;
    margin-bottom: 20px;
}

.contactsHeadImg{
    width: 30px;
    height: 30px;
}

.contactsHeadTitleText{
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
    padding: 2.5px 7.5px;
}

.contactsWrap{
    display: flex;
    /*background-color: #012a38;*/
    background-color: rgb(15, 15, 15);
    border-radius: 15px;
    padding: 15px;
    /*justify-content: center;*/
}

.contactsListWrap{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contactsListHead{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    color: lightgrey;
    margin-bottom: -10px;
}

.contactsListHeadCount{
    justify-content: left;
    font-size: 14px;
}

.contactsListHeadAdd{
    text-align: right;
    justify-content: right;
}

.contactFrame{
    width: 100%;
    display: grid;
    grid-template-columns: 75% 25%;
    margin-top: 15px;
    border-top: 1px solid #016b92;
    /*border-bottom: 1px solid #015b7c;*/
    padding: 7.5px 2.5px;
    font-family: 'Kanit', sans-serif;
    border-bottom: 1px solid #016b92;
}


.contactBottom{
    border-bottom: 1px solid #016b92;
}

.contactFrame:hover{
    background-color: #016b92;
}

.contactName{
    margin-top: 3.5px;
    padding-left: 2.5px;
    font-size: 15px;
    display: flex;
}

.contactArrow{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-right: 10%;
}

.contactArrow > div{
    margin-left: 15px;
}

.contactArrowLeft{
    display: grid;
    justify-content: left;
}

.conatctArrowRight{
    display: grid;
    justify-content: right;   
    margin-right: 15px;
}

.contactMenuMailBtn{
    display: inline-block;
    height: 20px;
    width: 27.5px;
    border: 0;
    outline: none;
    background-color: transparent;
    background-image: url("../pictures/generated_mail_icon_neutral.png");
    background-size: contain;
    margin-top: 5px;
    transition: 0.1s;
}

.contactMenuMailBtn:hover{
    margin-top: 5px;
    height: 22.5px;
    width: 30px;
    transition: 0.1s;
    background-image: url("../pictures/generated_mail_icon_hover.png");
    background-size: contain;
}

.contactsListHeadBtnAdd{
    border-radius: 10px;
    background-color: transparent;
    outline: none;
    border: 0;
    font-size: 13px;
    color: white;
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

.contactsAddBtnImg{
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 30px;
}

.contactsAddBtnImg:hover{
    border: 2px solid white;
}

.contactListEmpty{
    display: grid;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.contactListEmptyImg{
    width: 100px;
    height: 100px;
}

.contactListEmptyText{
    text-align: center;
    color: rgb(175, 175, 175);
    font-size: 12px;
}

/*.contactsListHeadBtnAdd:hover{
    border: 1px solid white;
}*/

/*ADD CONTACT*/

.addContactWrap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 750px;
}

.addContactWrap > div{
    margin-bottom: 15px;
}

.addContactLastNameWrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.addContactLastNameWrap > div{
    margin-right: 10px;
}

.addContactComa{
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
}

.addContactTextField{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    outline: none;
    width: 30ch;
    font-size: 15px;
    font-family: 'Kanit', sans-serif;
}

.addContactTextField:hover{
    border-bottom: 2px solid white;
}

.addContactTextField:focus{
    border-bottom: 2px solid white;
}

.addContactTitle{
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    outline: none;
    margin-bottom: 5px;
}

.addContactDobInput{
    background-color: transparent;
    outline: none;
    color: white;
    color-scheme: dark;
    font-family: 'Kanit', sans-serif;
    border: 0;
    border-left: 3px solid white;
    padding: 5px 5px 5px 7.5px;
    font-size: 15px;
    transition: 0.1s;
}

.addContactDobInput:hover{
    background-color: #003347;
    border-left: 7.5px solid white;
    transition: 0.1s;
}

.addContactDobInput:focus{
    background-color: #003347;
    border-left: 7.5px solid white;
}

.addContactRelationInput, .genderSelect{
    background-color: transparent;
    color: white;
    font-size: 15px;
    padding: 5px 5px 5px 5px;
    border: 0;
    /*border-bottom: 1px solid white;*/
    border-left: 3px solid white;
    outline: none;
    transition: 0.1s;
    font-family: 'Kanit', sans-serif;
}

.genderSelect:hover{
    border-left: 7.5px solid white;
    transition: 0.1s;
    background-color: rgb(60, 40, 0);
}

.genderSelect:focus{
    background-color: transparent;
    border-left: 7.5px solid white;
}

.addContactRelationInput:hover{
    border-left: 7.5px solid white;
    transition: 0.1s;
    background-color: #002207;
}

.addContactRelationInput:focus{
    background-color: transparent;
    border-left: 7.5px solid white;
}

.addContactRelationInput > option, .genderSelect > option{
    background-color: transparent;
    color: black;
}

.addContactBioText{
    background-color: transparent;
    color: white;
    font-size: 13px;
    width: 50ch;
    padding: 10px;
    height: 10ch;
    border: 1px solid white;
    resize: none;
    font-family: sans-serif;
    outline: none;
    border-radius: 10px;
}

.addContactBioText:hover{
    border: 2px solid white;
}

.addContactBioText:focus{
    border: 2px solid white;
}

.red{
    color: rgb(255, 105, 105);
}

.star{
    vertical-align: super;
    font-size: 13px;
}

.addContactSubmitWrap{
    display: flex;
    flex-direction: row;
}

.addContactSubmitWrap > div{
    margin-right: 10px;
}

.addContactSubmitBtn{
    font-family: 'Kanit', sans-serif;
    color: white;
    border: 1px solid white;
    border-radius: 7.5px;
    padding: 7.5px;
    outline: none;
    background-color: transparent;
    font-size: 13px;
}

.addContactSubmitBtn:hover{
    background-color: #0042bd;
}

.deleteContactBtn{
    color: rgb(255, 67, 67);
    background-color: transparent;
    outline: none;
    border: 1px solid rgb(255, 67, 67); 
    font-family: 'Kanit', sans-serif;
    padding: 7.5px;
    border-radius: 7.5px;
    font-size: 13px;
}

.deleteContactBtn:hover{
    color: white;
    background-color: rgb(200, 31, 31);
}

.mailSelectedBtn{
    display: inline;
    font-family: 'Kanit', sans-serif;
    color: white;
    border: 1px solid white;
    border-radius: 7.5px;
    padding: 7.5px;
    outline: none;
    background-color: transparent;
    font-size: 13px;
}

.mailSelectedBtn:hover{
    background-color: #0042bd;
}

#mailSelectedBtnImg{
    display: inline-block;
    width: 17.5px;
    height: 12.5px;
}

/*ADD CONTACT*/

/*CONTACTS*/