/*CONTACTS*/

.contactsFrame{
    display: none;
    flex-direction: column;
}

.contactsHeadWrap{
    display: inline-flex;
    margin-bottom: 20px;
}

.contactsHeadImg{
    width: 30px;
    height: 30px;
}

.contactsHeadTitleText{
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
    padding: 2.5px 7.5px;
}

.contactsWrap{
    display: flex;
    /*background-color: #012a38;*/
    background-color: rgb(15, 15, 15);
    border-radius: 15px;
    padding: 15px;
    /*justify-content: center;*/
}

.contactsListWrap{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contactsListHead{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    color: lightgrey;
    margin-bottom: -10px;
}

.contactsListHeadCount{
    justify-content: left;
    font-size: 14px;
}

.contactsListHeadAdd{
    text-align: right;
    justify-content: right;
}

.contactFrame{
    width: 100%;
    display: grid;
    grid-template-columns: 75% 25%;
    margin-top: 15px;
    border-top: 1px solid #016b92;
    /*border-bottom: 1px solid #015b7c;*/
    padding: 7.5px 2.5px;
    font-family: 'Kanit', sans-serif;
    border-bottom: 1px solid #016b92;
}


.contactBottom{
    border-bottom: 1px solid #016b92;
}

.contactFrame:hover{
    background-color: #016b92;
}

.contactName{
    margin-top: 3.5px;
    padding-left: 2.5px;
    font-size: 15px;
    display: flex;
}

.contactArrow{
    font-size: 20px;
    display: flex;
    justify-content: right;
    padding-right: 10%;
}

.contactsListHeadBtnAdd{
    /*width: 10vw;*/
    /*display: inline;*/
    /*width: 2vw;*/
    /*height: 2vw;*/
    border-radius: 10px;
    background-color: transparent;
    outline: none;
    border: 0;
    font-size: 13px;
    color: white;
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

.contactsAddBtnImg{
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 30px;
}

.contactsAddBtnImg:hover{
    border: 2px solid white;
}

/*.contactsListHeadBtnAdd:hover{
    border: 1px solid white;
}*/

/*CONTACTS*/