/*GENERATED*/

.generatedFrame{
    display: none;
    flex-direction: column;
}

.generatedWrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #012a38;
    border-radius: 2vw;
    padding: 0.75vw;
    padding-bottom: 3.25vw;
    overflow-y: auto;
    width: 100%;
}

.generatedLetter{
    display: flex;
    justify-content: center;
    flex: 33%;
    text-align: center;
    max-width: 19.5vw;
    height: 13.5vw;
    /*border: 0.25vw solid white;*/
    border-radius: 1vw;
    /*margin: 0 1.5vw 1.5vw 0;*/
    margin: 1vw;
    background-image: url("../pictures/generated_mail_icon_neutral.png");
    background-size: cover;
}

.generatedLetter:hover{
    /*border: 0.25vw solid white;*/
    background-image: url("../pictures/generated_mail_icon_hover.png");
    /*height: 13.5vw;*/
}

.generatedLetterInner{
    font-family: cursive;
    padding-top: 9vw;
    height: 4vw;
    width: 12.5vw;
    font-size: 1.5vw;
    text-align: center;
    /*font-family: 'Sevillana', cursive;*/
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
}

/*
.generatedWrap > div{
    
}
*/

.generatedTitle{
    font-size: 2.5vw;
    display: inline-flex;
    font-family: 'Kanit', sans-serif;
    margin-bottom: 1.5vw;
}

.generatedTitleText{
    padding: 0.25vw 0.75vw;
}

.generatedImg{
    width: 4vw;
    height: 4vw;
}

.titleLink{
    text-decoration: none;
    color: white;
    font-size: 2.5vw;
}

.titleLink:hover{
    text-decoration: underline;
}

/*GENERATED*/