/*GENERATED*/

.generatedTitle{
    font-size: 18px;
    display: inline-flex;
    font-family: 'Kanit', sans-serif;
    margin-bottom: 15px;
}

.generatedTitleText{
    padding: 2px 7.5px;
}

.generatedImg{
    width: 30px;
    height: 30px;
}

.titleLink{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.titleLink:hover{
    text-decoration: underline;
}

.generatedFrame{
    display: none;
    flex-direction: column;
}

.generatedWrap{
    display: flex;
    flex-wrap: wrap;
    /*background-color: #012a38;*/
    background-color: rgb(15, 15, 15);
    border-radius: 15px;
    padding: 7.5px;
    overflow-y: auto;
    width: 100%;
    max-height: 70vh;
}

.generatedLetter{
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 13.5vw;
    border-radius: 1vw;
    margin-bottom: 15px;
    padding: 10px;
}

.generatedLetter:hover{
    /*background-color: #013141;*/
    background-color: rgb(25, 25, 25);
}

/*
.generatedLetter:hover{
    border: 0.25vw solid white;
    background-image: url("../pictures/generated_mail_icon_hover.png");
    height: 13.5vw;
}*/

.generatedLetterInner{
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    /*font-weight: bold;*/
}


/*GENERATED*/