/*GENERATED*/

.generatedTitle{
    font-size: 18px;
    display: inline-flex;
    font-family: 'Kanit', sans-serif;
    margin-bottom: 15px;
}

.generatedTitleText{
    padding: 2px 7.5px;
}

.generatedImg{
    width: 30px;
    height: 30px;
}

.titleLink{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.titleLink:hover{
    text-decoration: underline;
    text-decoration-color: white;
}

.generatedFrame{
    display: none;
    flex-direction: column;
}

.generatedWindowWrap{
    display: flex;
    flex-direction: row;
    width: 99%;
    height: 75vh;
}

.generatedWrap{
    flex: 25%;
    display: flex;
    flex-direction: column;
    /*background-color: #012a38;*/
    background-color: rgb(15, 15, 15);
    margin-right: 7.5px;
    border-radius: 15px;
    padding: 7.5px;
    overflow-y: auto;
    width: 100%;
    /*max-height: 70vh;*/
    border-radius: 15px;
    overflow-x: hidden;
}

.generatedLetterEmpty{
    display: flex;
    flex: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.generatedLetterEmptyInner{
    font-size: 12px;
    color: rgb(175, 175, 175);
}

.generatedLetter{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 75px;
    height: auto;
    margin-bottom: 5px;
    padding: 7.5px 7.5px 7.5px 7.5px;
    width: 95%;
    border-left: 3px solid gray;
    font-family: 'Kanit', sans-serif;
}

.generatedLetter:hover{
    background-color: rgb(25, 25, 25);
}

.generatedMailWrap{
    display: flex;
    width: 100%;
    flex-direction: row;
    text-align: left;
    justify-content: center;
    flex: 75%;
    padding: 7.5px;
    border-radius: 15px;
    background-color: rgb(15, 15, 15);
    overflow: auto;
}

/*
.generatedLetter:hover{
    border: 0.25vw solid white;
    background-image: url("pictures/generated_mail_icon_hover.png");
    height: 13.5vw;
}*/

.generatedLetterInner{
    display: flex;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    font-family: 'Kanit', sans-serif;
    width: 100%;
    /*font-weight: bold;*/
}

.generatedLetterTitle{
    display: grid;
    justify-content: left;
    /*float: left;*/
    font-size: 16px;
    width: 65%;
}

.generatedLetterDate{
    display: grid;
    justify-content: right;
    width: 35%;
    font-size: 16px;
    /*float: right;*/
}

.noMailSelectedWrap{
    width: 100%;
    display: grid;
    justify-content: center;
}

.noMailSelectedInner{
    height: 100%;
    flex-wrap: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    font-family: 'Kanit', sans-serif;
    color: rgb(175, 175, 175);
}

.noMailSelectedImg{
    width: 10.5vw;
    height: 7.5vw;
    margin-bottom: 10px;
}

.selectedMailWrap{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Kanit', sans-serif;
}

.selectedMailWrap > div{
    padding: 15px;
}

.selectedMailTop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    */
    max-height: 100px;
    width: 95%;
}

.selectedMailMiddle{
    display: grid;
    font-size: 13px;
    white-space: pre-wrap;
    height: 100%;
    width: 95%;
    overflow: auto;
}

.selectedMailReason{
    display: none;
    flex-direction: column;
    max-height: 100%;
    width: 95%;
    overflow: auto;
}

.selectedMailReasonContent{
    width: 100%;
    white-space: pre-wrap;
    font-size: 13px;
}

.selectedMailReasonTop{
    display: grid;
    width: 100%;
    font-size: 16px;
    height: 50px;
}

.selectedMailTopTitle{
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
}

.selectedMailTopLeft{
    flex: 75%;
    width: auto;
    text-align: left;
}

.selectedMailTopRight{
    flex: 25%;
    width: auto;
    text-align: right;
}

@media screen and (max-width: 1850px) {
    /*.generatedLetterInner{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }*/

    .generatedLetterDate{
        font-size: 12px;
    }

    .generatedLetter{
        padding-right: 0.25vw;
    }

    .generatedLetter{
        height: auto;
    }
}

@media screen and (max-width: 1500px) {
    .generatedLetterInner{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .generatedLetterDate{
        justify-content: left;
        font-size: 10px;
    }

    .generatedLetterContent{
        font-size: 12px;
    }
}

.generatedContactLink{
    font-size: 14px;
    color: white;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
}

.generatedContactLink:hover{
    font-weight: bold;
    text-decoration: underline;
}

.selectedMailTopRight{
    display: flex;
    flex-direction: column;
}

.generatedMailReasonBtn{
    font-size: 11px;
    color: white;
    border: 1px solid white;
    padding: 7.5px;
    border-radius: 7.5px;
    background-color: transparent;
    font-family: 'Kanit', sans-serif;
}

.generatedMailReasonBtn:hover{
    background-color: rgb(45, 45, 45);
}

.reasonImg{
    width: 10px;
    height: 10px;
}

#generatedTypeMail{
    font-size: 14px !important;
}

/*GENERATED*/