.homeFrame{
    display: flex;
    flex-direction: column;
    font-family: 'Kanit', sans-serif;
}

.homeHeadWrap{
    display: flex;
    flex-direction: row;
    margin-bottom: 12.5px;
}

.homeHeadImg{
    width: 30px;
    height: 30px;
}

.homeHeadTitle{
    font-size: 18px;
    padding: 2.5px 7.5px;
}

.homeFrameContent{
    background-color: rgb(15, 15, 15);
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.homeFrameContent > div{
    margin-bottom: 15px;
}

.bottomHomeFrame{
    margin-bottom: -15px !important;
}

/*TUTORIAL*/

.tutorialHead{
    display: flex;
    flex-direction: row;
    font-size: 17px;
}

.tutorialImg{
    width: 25px;
    height: 25px;
}

.tutorialTitle{
    padding: 0 7.5px;
}

.tutorialWrap{
    font-size: 13px;
}

.TutorialLink{
    color: white;
}

.tutorialChapterBtn{
    color: white;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    background-color: transparent;
    outline: none;
    border: none;
    padding-top: 5px;
}

.tutorialChapterBtn:hover{
    /*text-decoration: underline;*/
    font-weight: bold;
}

.tutorialCollapseBtn, .mailsCollapseBtn{
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
}

.tutorialHead:hover, .recentMailHead:hover, .recentContactHead:hover{
    font-weight: bold;
}

#tutorialHideImg, #recentMailsHideImg, #recentContactHideImg{
    background-color: transparent;
    color: white;
    width: 10px;
    height: 10px;
}

/*TUTORIAL*/

/*RECENT MAILS*/

.recentMailWrap{
    display: flex;
    flex-direction: column;
}

.recentMailHead{
    display: flex;
    flex-direction: row;
}

.recentMailsIcon{
    width: 25px;
    height: 25px;
}

.recentMailTitle{
    font-size: 17px;
    padding: 0 7.5px;
}

.recentMailInner{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.recentMailContent{
    display: flex;
    flex-direction: column;
}

.homeMailFrame{
    width: 100%;
    display: grid;
    grid-template-columns: 99%;
    grid-template-rows: auto;
    justify-content: center;
    border-top: 1px solid #016b92;
    border-bottom: 1px solid #016b92;
    padding: 5px 0;
    background-color: transparent;
    font-family: 'Kanit', sans-serif;
}

.homeMailFrame:hover{
    background-color: #016b92;
}

/*
.homeMailFrame:hover + #homeMailImg{
    background-image: url("../pictures/generated_mail_icon_hover.png");
    background-size: contain;
}
*/

.homeMailInner{
    display: flex;
    flex-direction: row;
}

.homeMailLeft{
    flex: 20%;
    justify-content: left;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.homeMailTitle{
    font-size: 16px;
}

.homeMailRecipient{
    font-size: 11px;
}

.homeMailRight{
    flex: 80%;
    justify-content: right;
    text-align: right;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.homeMailRight > div{
    margin-left: 15px;
}

.homeMailExtra{
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 11px;
}

.homeMailArrow{
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    margin-left: 15px;
}

.homeMailIcons{
    display: flex;
    flex-direction: row;
}

#homeMailImg{
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 25px;
}

.recentMailFilterWrap{
    margin-bottom: 5px;
}

.recentMailFilterInner{
    display: flex;
    flex-direction: row;
}

.homeMailLink{
    color: white;
    font-size: 11px;
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
}

.homeMailLink:hover{
    text-decoration: underline;
}

.homeMailDropdown{
    outline: none;
    color: white;
    background-color: transparent;
    font-size: 13px;
    font-family: 'Kanit', sans-serif;
}

.homeMailDropdown option{
    color: black;
}

/*RECENT MAILS*/

/*RECENT CONTACTS*/

.recentContactHead{
    display: flex;
    flex-direction: row;
    font-size: 17px;
}

.recentContactTitle{
    padding: 0 7.5px;
}

.recentContactImg{
    width: 25px;
    height: 25px;
}

.recentContactContent{
    font-size: 13px;
}

.contactCollapseBtn{
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
}

/*RECENT CONTACTS*/

.recentContactTitle, .recentMailTitle, .tutorialTitle{
    width: 11.5ch;
}