.homeFrame{
    display: flex;
    flex-direction: column;
    font-family: 'Kanit', sans-serif;
}

.homeHeadWrap{
    display: flex;
    flex-direction: row;
    margin-bottom: 12.5px;
}

.homeHeadImg{
    width: 30px;
    height: 30px;
}

.homeHeadTitle{
    font-size: 18px;
    padding: 2.5px 7.5px;
}

.homeFrameContent{
    background-color: rgb(15, 15, 15);
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.homeFrameContent > div{
    margin-bottom: 15px;
}

.bottomFrame{
    margin-bottom: 0px !important;
}

/*TUTORIAL*/

.tutorialHead{
    display: flex;
    flex-direction: row;
    font-size: 17px;
}

.tutorialImg{
    width: 25px;
    height: 25px;
}

.tutorialTitle{
    padding: 0 7.5px;
}

.tutorialWrap{
    font-size: 13px;
}

.TutorialLink{
    color: white;
}

.tutorialChapterBtn{
    color: white;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    background-color: transparent;
    outline: none;
    border: none;
    padding-top: 5px;
}

.tutorialChapterBtn:hover{
    /*text-decoration: underline;*/
    font-weight: bold;
}

.tutorialCollapseBtn, .mailsCollapseBtn{
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
}

.tutorialHead:hover, .recentMailHead:hover, .recentContactHead:hover{
    font-weight: bold;
}

#tutorialHideImg, #recentMailsHideImg, #recentContactHideImg{
    background-color: transparent;
    color: white;
    width: 10px;
    height: 10px;
}

/*TUTORIAL*/

/*RECENT MAILS*/

.recentMailWrap{
    display: flex;
    flex-direction: column;
}

.recentMailHead{
    display: flex;
    flex-direction: row;
}

.recentMailsIcon{
    width: 25px;
    height: 25px;
}

.recentMailTitle{
    font-size: 17px;
    padding: 0 7.5px;
}

.recentMailInner{
    font-size: 13px;
}

/*RECENT MAILS*/

/*RECENT CONTACTS*/

.recentContactHead{
    display: flex;
    flex-direction: row;
    font-size: 17px;
}

.recentContactTitle{
    padding: 0 7.5px;
}

.recentContactImg{
    width: 25px;
    height: 25px;
}

.recentContactContent{
    font-size: 13px;
}

.contactCollapseBtn{
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
}

/*RECENT CONTACTS*/

.recentContactTitle, .recentMailTitle, .tutorialTitle{
    width: 11.5ch;
}