body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 20vw auto;
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h1{
    font-size: 2vw;
}

.left{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20vh 60vh 20vh;
    background-color: #02394a;
}

.left > div{
    border: 1px solid black;
    border-top: 0;
}

.top_l{
    padding: 1.5vw;
}

.mid_l > div{
    font-size: 1.75vw;
}

.mid_l > div:hover{
    font-weight: bold;
    background-color: #006786;
}

.right{
    background-color: #001f29;
}

.listItem{
    display: inline-flex; 
    width: 20vw;
    padding: 1.25vw;
}

.listItem > div{
    margin: 0.25vw;
}