body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 20vw auto;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h1 {
    font-size: 2vw;
}

/*-----------------------------NAVBAR - LEFT-----------------------------*/

.left {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30vh 50vh 20vh;
    background-color: #02394a;
    height: 100vh;
}

/*
.left > div{
    border: 1px solid black;
    border-top: 0;
}*/

.top_l {
    padding: 1.5vw;
}

.mid_l>div {
    font-size: 2vw;
}

.mid_l>div:hover {
    font-weight: bold;
    background-color: #006786;
    text-decoration: underline;
}

.listItem {
    display: inline-flex;
    width: 20vw;
    padding: 1.25vw 3vw;
}

.listItem>div {
    margin: 0.35vw;
}

.navImg {
    width: 1.75vw;
    height: 1.75vw;
}

/*-----------------------------NAVBAR - LEFT-----------------------------*/

/*-----------------------------CONTENT - RIGHT-----------------------------*/

.right {
    background-color: #001f29;
    /*
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 65vw;
    */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right>div {
    /*border: 1px solid white;*/
    height: 80vh;
    width: 65vw;
    padding-left: 5vw;
}

/*NEW MAIL*/

.newMailFrame {
    display: flex;
    flex-direction: column;
}

.newMailFrame > div {
    margin-bottom: 1.5vw;
}

.newMailTitle, .newMailRecipient, .newPurposeTop {
    display: inline-flex;
}

/*.newMailRecipient {
    margin-top: 1vw;
}*/

.newMailTitle > div, .newMailRecipient > div, .newPurposeTop > div, .newPurposeBottom > div{
    margin: 0.5vw;
}

/*.newMailPurpose > div{
    margin-bottom: 1vw;
}*/

.newMailTitle{
    margin-bottom: 1.25vw !important;
}

.newMailTitleImg {
    width: 4vw;
    height: 4vw;
}

.newMailTextField {
    font-size: 1.75vw;
    height: 3.5vw;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    padding-bottom: 0;
    width: 30ch;
}

.NewMailSubmitBtn {
    width: 6vw;
    height: 3vw;
    margin-top: 1.25vw;
    /*border-radius: 1vw;*/
    outline: none;
    border: none;
    background-color: transparent;
    /*border: 1px solid white*/
    background-image: url("../pictures/arrow_icon_neutral.png");
    background-size: cover;
}

.NewMailSubmitBtn:hover {
    background-image: url("../pictures/arrow_icon_hover.png");
}

.NewRecipientBtn {
    width: 4vw;
    height: 4vw;
    border-radius: 4vw;
    background-color: transparent;
    border: none;
    background-image: url("../pictures/white_pfp.png");
    background-size: cover;
}

.NewRecipientBtn:hover {
    background-image: url("../pictures/white_pfp_hover.png");
    background-color: #02394a;
}

.newRecipientDropDown {
    font-size: 2vw;
    height: 4vw;
    /*margin-left: 1vw;*/
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
    color: white;
}

.newRecipientDropDown:hover {
    border-bottom: 1px solid white;
}

.newRecipientDropDown option {
    color: black;
    background-color: transparent;
    font-size: 1.5vw;
}

.newPurposeBtn {
    width: 4vw;
    height: 4vw;
    background-color: transparent;
    border: none;
    background-image: url("../pictures/question_mark_icon_neutral.png");
    background-size: cover;
}

.newPurposeBtn:hover {
    background-image: url("../pictures/question_mark_icon_hover.png");
}

.newPurposeDropDown {
    font-size: 2vw;
    height: 3vw;
    width: 30ch;
    color: white;
    background-color: transparent;
    outline: none;
    border: 1px solid transparent;
    /*margin-left: 1vw;*/
}

.newPurposeDropDown option{
    color: black;
}

.newPurposeDropDown:hover{
    border-bottom: 1px solid white;
}

.newExtraBtn {
    width: 3vw;
    height: 3vw;
    background-color: transparent;
    border: none;
    outline: none;
    background-image: url("../pictures/plus_icon_neutral.png");
    background-size: cover;
}

.newExtraBtn:hover {
    background-image: url("../pictures/plus_icon_hover.png");
}

.newPurposeBottom {
    margin-left: 5.5vw;
}

.newMailPurpose{
    display: grid;
}

.newFormality{
    display: inline-flex;
}

.newFormalityOutput{
    font-size: 1.75vw;
}

.newReasonTextField{
    border-radius: 0.5vw;
    font-size: 1.25vw;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid white;
    background-color: transparent;
    outline: none;
    resize: none;
    width: 50ch;
    height: 13ch;
    min-height: 5ch;
}

.newReasonTitleField{
    font-size: 1.75vw;
}
/*NEW MAIL*/


/*GENERATED*/


/*GENERATED*/


/*CONTACTS*/



/*CONTACTS*/


/*SETTINGS*/



/*SETTINGS*/

/*-----------------------------CONTENT - RIGHT-----------------------------*/

/*SWITCH*/

.switch {
    position: relative;
    display: inline-block;
    width: 4vw;
    height: 2vw;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.5vw;
    width: 1.5vw;
    left: 0.5vw;
    bottom: 0.25vw;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(1.5vw);
    -ms-transform: translateX(1.5vw);
    transform: translateX(1.5vw);
}

.slider.round {
    border-radius: 1.5vw;
}

.slider.round:before {
    border-radius: 50%;
}

/*SWITCH*/