@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

body {
    min-height: 600px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 200px auto;
    color: white;
    /*font-family: 'Kanit', sans-serif;*/
    /*font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif*/
}

h1 {
    font-size: 20px;
}

/*-----------------------------NAVBAR - LEFT-----------------------------*/

.left {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70px auto 55px;
    background-color: #02394a;
    
    /*
    display: flex;
    flex-direction: column;
    */
    height: 100vh;
    font-family: 'Kanit', sans-serif;
}

/*
.left > div{
    border: 1px solid black;
    border-top: 0;
}*/


/*TOP - NAV LOGO*/

.top_l {
    display: grid;
    padding-left: 15px;
}

/*TOP - NAV LOGO*/


/*MID - NAV ITEMS */

.mid_l>div {
    font-size: 14px;
}

.mid_l > div:hover {
    font-weight: bold;
    background-color: #006786;
    /*text-decoration: underline;*/
}

.listItem {
    display: inline-flex;
    width: 100%;
    padding: 15px 20px;
}

.navImg{
    margin-top: 2px;
}

.listItem>div {
    margin: 0 3px;
}

.navImg {
    width: 15px;
    height: 15px;
}

/*MID - NAV ITEMS */


/*BOTTOM - NAV ACCOUNT*/

.bottom_l{
    display: flex;
    flex-direction: column;
}

.navAccWrap{
    margin-top: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 35% 60%;
    grid-template-rows: auto;
    margin-bottom: 10px;
}

.navAccImgWrap{
    display: grid;
    justify-content: left;
    margin-left: 15px;
    margin-right: 15px;
}

.navAccImg{
    width: 40px;
    height: auto;
    border-radius: 100%;
    border: 1px solid white;
}

.navAccTextWrap{
    /*margin-top: 0.25vw*/
    display: grid;
    justify-content: left;
}

.navAccUsername{
    font-size: 12px;
}

.navAccLogOut{
    font-size: 10px;
}

.link{
    color: lightgray;
    text-decoration: none;
    outline: none;
}

.link:hover{
    text-decoration: underline;
    font-style: italic;
    color: white;
}


/*BOTTOM - NAV ACCOUNT*/

/*-----------------------------NAVBAR - LEFT-----------------------------*/

/*-----------------------------CONTENT - RIGHT-----------------------------*/

.right {
    background-color: #001f29;
    /*
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 65vw;
    */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.rightInner>div {
    /*border: 1px solid white;*/
    height: 80vh;
    width: 95%;
    padding-left: 2.5vw;
}

/*-----------------------------CONTENT - RIGHT-----------------------------*/

/*SWITCH*/

.switch {
    position: relative;
    display: inline-block;
    width: 4vw;
    height: 2vw;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.5vw;
    width: 1.5vw;
    left: 0.5vw;
    bottom: 0.25vw;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(1.5vw);
    -ms-transform: translateX(1.5vw);
    transform: translateX(1.5vw);
}

.slider.round {
    border-radius: 1.5vw;
}

.slider.round:before {
    border-radius: 50%;
}

/*SWITCH*/

/*SCROLLBAR*/

::-webkit-scrollbar {
    width: 10px;
    height: 40px;
    
}
/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb{
    height: 50px;
    margin-right: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: gray; 
    height: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(177, 177, 177); 
}

/*SCROLLBAR*/