@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

body {
    min-height: 600px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 200px auto;
    color: white;
    /*font-family: 'Kanit', sans-serif;*/
    /*font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif*/
}

h1 {
    font-size: 20px;
}

/*-----------------------------NAVBAR - LEFT-----------------------------*/

.left {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70px auto 55px;
    background-color: #02394a;
    
    /*
    display: flex;
    flex-direction: column;
    */
    height: 100vh;
    font-family: 'Kanit', sans-serif;
}

/*
.left > div{
    border: 1px solid black;
    border-top: 0;
}*/


/*TOP - NAV LOGO*/

.top_l {
    display: grid;
    padding-left: 15px;
}

/*TOP - NAV LOGO*/


/*MID - NAV ITEMS */

.mid_l>div {
    font-size: 14px;
}

.mid_l > div:hover {
    font-weight: bold;
    background-color: #006786;
    /*text-decoration: underline;*/
}

.listItem {
    display: inline-flex;
    width: 100%;
    padding: 15px 20px;
}

.navImg{
    margin-top: 2px;
}

.listItem>div {
    margin: 0 3px;
}

.navImg {
    width: 15px;
    height: 15px;
}

/*MID - NAV ITEMS */


/*BOTTOM - NAV ACCOUNT*/

.bottom_l{
    display: flex;
    flex-direction: column;
}

.navAccWrap{
    margin-top: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 35% 60%;
    grid-template-rows: auto;
    margin-bottom: 10px;
}

.navAccImgWrap{
    display: grid;
    justify-content: left;
    margin-left: 15px;
    margin-right: 15px;
}

.navAccImg{
    width: 40px;
    height: auto;
    border-radius: 100%;
    border: 1px solid white;
}

.navAccTextWrap{
    /*margin-top: 0.25vw*/
    display: grid;
    justify-content: left;
}

.navAccUsername{
    font-size: 12px;
}

.navAccLogOut{
    font-size: 10px;
}

.link{
    color: lightgray;
    text-decoration: none;
    outline: none;
}

.link:hover{
    text-decoration: underline;
    font-style: italic;
    color: white;
}


/*BOTTOM - NAV ACCOUNT*/

/*-----------------------------NAVBAR - LEFT-----------------------------*/

/*-----------------------------CONTENT - RIGHT-----------------------------*/

.right {
    background-color: #001f29;
    /*
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 65vw;
    */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.right>div {
    /*border: 1px solid white;*/
    height: 80vh;
    width: 95%;
    padding-left: 2.5vw;
}

/*NEW MAIL*/

.newMailFrame {
    display: none;
    flex-direction: column;
}

.newMailTitle, .newMailRecipient, .newPurposeTop, .newMailHead{
    display: inline-flex;
}

.newMailHeadImg{
    width: 4vw;
    height: 4vw;
}   

#newMailHeadTitleText{
    padding: 0.25vw 0.75vw;
}

.newMailHead{
    font-size: 2.5vw;
    font-family: 'Kanit', sans-serif;
    margin-bottom: 1.5vw;
}

.newMailWrap{
    display: flex;
    flex-direction: column;
    padding: 1.5vw;
    background-color: #012a38;
    border-radius: 2vw;
}

.newMailWrap > div {
    margin-bottom: 1.5vw;
}



/*.newMailRecipient {
    margin-top: 1vw;
}*/

.newMailTitle > div, .newMailRecipient > div, .newPurposeTop > div, .newPurposeBottom > div{
    margin: 0.5vw;
}

/*.newMailPurpose > div{
    margin-bottom: 1vw;
}*/

.newMailTitle{
    margin-bottom: 1.25vw !important;
}

.newMailTitleImg {
    width: 4vw;
    height: 4vw;
}

.newMailTextField {
    font-size: 1.75vw;
    height: 3.5vw;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    padding-bottom: 0;
    width: 30ch;
}

.NewMailSubmitBtn {
    width: 6vw;
    height: 3vw;
    margin-top: 1.25vw;
    margin-left: 2vw;
    /*border-radius: 1vw;*/
    outline: none;
    border: none;
    background-color: transparent;
    /*border: 1px solid white*/
    background-image: url("../pictures/arrow_icon_neutral.png");
    background-size: cover;
}

.NewMailSubmitBtn:hover {
    background-image: url("../pictures/arrow_icon_hover.png");
}

.NewRecipientBtn {
    width: 4vw;
    height: 4vw;
    border-radius: 4vw;
    background-color: transparent;
    border: none;
    background-image: url("../pictures/white_pfp.png");
    background-size: cover;
}

.NewRecipientBtn:hover {
    background-image: url("../pictures/white_pfp_hover.png");
    background-color: #02394a;
}

.newRecipientDropDown {
    font-size: 2vw;
    height: 4vw;
    /*margin-left: 1vw;*/
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
    color: white;
}

.newRecipientDropDown:hover {
    border-bottom: 1px solid white;
}

.newRecipientDropDown option {
    color: black;
    background-color: transparent;
    font-size: 1.5vw;
}

.newPurposeBtn {
    width: 4vw;
    height: 4vw;
    background-color: transparent;
    border: none;
    background-image: url("../pictures/question_mark_icon_neutral.png");
    background-size: cover;
}

.newPurposeBtn:hover {
    background-image: url("../pictures/question_mark_icon_hover.png");
}

.newPurposeDropDown {
    font-size: 2vw;
    height: 3vw;
    width: 30ch;
    color: white;
    background-color: transparent;
    outline: none;
    border: 1px solid transparent;
    /*margin-left: 1vw;*/
}

.newPurposeDropDown option{
    color: black;
}

.newPurposeDropDown:hover{
    border-bottom: 1px solid white;
}

.newExtraBtn {
    width: 3vw;
    height: 3vw;
    background-color: transparent;
    border: none;
    outline: none;
    background-image: url("../pictures/plus_icon_neutral.png");
    background-size: cover;
}

.newExtraBtn:hover {
    background-image: url("../pictures/plus_icon_hover.png");
}

.newPurposeBottom {
    margin-left: 5.5vw;
}

.newMailPurpose{
    display: grid;
    margin-bottom: 0px;
}

.newFormality{
    display: inline-flex;
}

.newFormalityOutput{
    font-size: 1.75vw;
}

.newMailFormalitySwitchWrap{
    margin-bottom: 0;
}

.newReasonTextField{
    border-radius: 0.5vw;
    font-size: 1.25vw;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid white;
    background-color: transparent;
    outline: none;
    resize: none;
    width: 50ch;
    height: 13ch;
    min-height: 5ch;
}

.newReasonTitleField{
    font-size: 1.75vw;
}

/*NEW MAIL*/


/*GENERATED*/

.generatedFrame{
    display: none;
    flex-direction: column;
}

.generatedWrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #012a38;
    border-radius: 2vw;
    padding: 0.75vw;
    padding-bottom: 3.25vw;
    overflow-y: auto;
    width: 100%;
}

.generatedLetter{
    display: flex;
    justify-content: center;
    flex: 33%;
    text-align: center;
    max-width: 19.5vw;
    height: 13.5vw;
    /*border: 0.25vw solid white;*/
    border-radius: 1vw;
    /*margin: 0 1.5vw 1.5vw 0;*/
    margin: 1vw;
    background-image: url("../pictures/generated_mail_icon_neutral.png");
    background-size: cover;
}

.generatedLetter:hover{
    /*border: 0.25vw solid white;*/
    background-image: url("../pictures/generated_mail_icon_hover.png");
    /*height: 13.5vw;*/
}

.generatedLetterInner{
    font-family: cursive;
    padding-top: 9vw;
    height: 4vw;
    width: 12.5vw;
    font-size: 1.5vw;
    text-align: center;
    /*font-family: 'Sevillana', cursive;*/
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
}

/*
.generatedWrap > div{
    
}
*/

.generatedTitle{
    font-size: 2.5vw;
    display: inline-flex;
    font-family: 'Kanit', sans-serif;
    margin-bottom: 1.5vw;
}

.generatedTitleText{
    padding: 0.25vw 0.75vw;
}

.generatedImg{
    width: 4vw;
    height: 4vw;
}

.titleLink{
    text-decoration: none;
    color: white;
    font-size: 2.5vw;
}

.titleLink:hover{
    text-decoration: underline;
}

/*GENERATED*/


/*CONTACTS*/

.contactsFrame{
    display: none;
    flex-direction: column;
}

.contactsHeadWrap{
    display: inline-flex;
    margin-bottom: 2vw;
}

.contactsHeadImg{
    width: 4vw;
    height: 4vw;
}

.contactsHeadTitleText{
    font-size: 2.5vw;
    font-family: 'Kanit', sans-serif;
    padding: 0.25vw 0.75vw;
}

.contactsWrap{
    display: flex;
    background-color: #012a38;
    border-radius: 2vw;
    padding: 1.5vw;
    /*justify-content: center;*/
}

.contactsListWrap{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contactsListHead{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    color: lightgrey;
    margin-bottom: -0.75vw;
}

.contactsListHeadCount{
    justify-content: left;
    font-size: 1.5vw;
}

.contactsListHeadAdd{
    text-align: right;
    justify-content: right;
}

.contactFrame{
    width: 100%;
    display: grid;
    grid-template-columns: 75% 25%;
    margin-top: 1.5vw;
    border-top: 1px solid #016b92;
    /*border-bottom: 1px solid #015b7c;*/
    padding: 0.75vw 0.25vw;
    font-family: 'Kanit', sans-serif;
    border-bottom: 1px solid #016b92;
}


.contactBottom{
    border-bottom: 1px solid #016b92;
}

.contactFrame:hover{
    background-color: #016b92;
}

.contactName{
    margin-top: 0.35vw;
    padding-left: 0.25vw;
    font-size: 1.5vw;
    display: flex;
}

.contactArrow{
    font-size: 2vw;
    display: flex;
    justify-content: right;
    padding-right: 2vw;
}

.contactsListHeadBtnAdd{
    /*width: 10vw;*/
    /*display: inline;*/
    /*width: 2vw;*/
    /*height: 2vw;*/
    border-radius: 1vw;
    background-color: transparent;
    outline: none;
    border: 0;
    font-size: 1vw;
    color: white;
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

.contactsAddBtnImg{
    width: 3vw;
    height: 3vw;
    border: 1px solid white;
    border-radius: 2vw;
}

.contactsAddBtnImg:hover{
    border: 2px solid white;
}

/*.contactsListHeadBtnAdd:hover{
    border: 1px solid white;
}*/

/*CONTACTS*/


/*SETTINGS*/

.settingsFrame{
    display: none;
}

/*SETTINGS*/

/*-----------------------------CONTENT - RIGHT-----------------------------*/

/*SWITCH*/

.switch {
    position: relative;
    display: inline-block;
    width: 4vw;
    height: 2vw;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.5vw;
    width: 1.5vw;
    left: 0.5vw;
    bottom: 0.25vw;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(1.5vw);
    -ms-transform: translateX(1.5vw);
    transform: translateX(1.5vw);
}

.slider.round {
    border-radius: 1.5vw;
}

.slider.round:before {
    border-radius: 50%;
}

/*SWITCH*/

/*SCROLLBAR*/

::-webkit-scrollbar {
    width: 10px;
    height: 40px;
    
}
/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb{
    height: 50px;
    margin-right: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: gray; 
    height: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(177, 177, 177); 
}

/*SCROLLBAR*/