body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 20vw auto;
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h1{
    font-size: 2vw;
}

/*-----------------------------NAVBAR - LEFT-----------------------------*/

.left{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30vh 50vh 20vh;
    background-color: #02394a;
    height: 100vh;
}

/*
.left > div{
    border: 1px solid black;
    border-top: 0;
}*/

.top_l{
    padding: 1.5vw;
}

.mid_l > div{
    font-size: 2vw;
}

.mid_l > div:hover{
    font-weight: bold;
    background-color: #006786;
    text-decoration: underline;
}

.listItem{
    display: inline-flex; 
    width: 20vw;
    padding: 1.25vw 3vw;
}

.listItem > div{
    margin: 0.35vw;
}

.navImg{
    width: 1.75vw;
    height: 1.75vw;
}

/*-----------------------------NAVBAR - LEFT-----------------------------*/

/*-----------------------------CONTENT - RIGHT-----------------------------*/

.right{
    background-color: #001f29;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 65vw;
    justify-content: center;
}

.right > div{
    border-radius: 1px solid white;
    padding: 10vh 0;
}   

/*NEW MAIL*/

.newMailTitle, .newMailRecipient{
    display: inline-flex;
}

.newMailTitle > div{
    margin: 0.5vw;
}

.newMailTitleImg{
    width: 5vw;
    height: 5vw;
}

.newMailTextField{
    font-size: 2vw;
    height: 4.5vw;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    padding-bottom: 0;
    width: 30ch;
}

.NewMailSubmitBtn{
    width: 6vw;
    height: 3vw;
    margin-top: 1.25vw;
    /*border-radius: 1vw;*/
    outline: none;
    border: none;
    background-color: transparent;
    /*border: 1px solid white*/
    background-image: url("../pictures/arrow_icon_neutral.png");
    background-size: cover;
}

.NewMailSubmitBtn:hover{
    background-image: url("../pictures/arrow_icon_hover.png");
}

.NewMailSubmitBtn::after{
    border-radius: 1vw;
    border: 1px solid white;
}

/*NEW MAIL*/

/*-----------------------------CONTENT - RIGHT-----------------------------*/