@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

body {
    min-height: 600px;
    min-width: 750px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 225px auto;
    color: white;
    background-color: rgb(0, 0, 5);
    overflow-x: hidden;
    /*font-family: 'Kanit', sans-serif;*/
    /*font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif*/
}

h1 {
    font-size: 20px;
}

.globalIdUser{
    display: none;
}

/*
.logoTitle{
    text-decoration: none;
    transition: background-size 400ms;
}

.logoTitle:hover{
    text-decoration: underline;
    transition: background-size 400ms;
}
*/

/*-----------------------------NAVBAR - LEFT-----------------------------*/

.left {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70px auto 55px;
    /*background-color: #02394a;*/
    border-radius: 15px;
    background-color: rgb(15, 15, 15);
    margin: 0.5vh 5px;
    /*
    display: flex;
    flex-direction: column;
    */
    height: 99vh;
    font-family: 'Kanit', sans-serif;
}

/*
.left > div{
    border: 1px solid black;
    border-top: 0;
}*/


/*TOP - NAV LOGO*/

.top_l {
    display: grid;
    padding-left: 15px;
}

/*TOP - NAV LOGO*/


/*MID - NAV ITEMS */

.mid_l>div {
    font-size: 15px;
}

.mid_l > div:hover {
    font-weight: bold;
    /*background-color: #006786;*/
    /*text-decoration: underline;*/
}

.listItem {
    display: inline-flex;
    width: 195px;
    padding: 15px 0 15px 20px;
}

.navImg{
    margin-top: 2px;
}

.listItem>div {
    margin: 0 3px;
}

.navImg {
    width: 18px;
    height: 18px;
}

/*MID - NAV ITEMS */


/*BOTTOM - NAV ACCOUNT*/

.bottom_l{
    display: flex;
    flex-direction: column;
}

.navAccWrap{
    margin-top: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 35% 60%;
    grid-template-rows: auto;
    margin-bottom: 10px;
}

.navAccImgWrap{
    display: grid;
    justify-content: left;
    margin-left: 15px;
    margin-right: 15px;
}

.navAccImg{
    width: 40px;
    height: auto;
    border-radius: 100%;
    border: 1px solid white;
}

.navAccTextWrap{
    /*margin-top: 0.25vw*/
    display: grid;
    justify-content: left;
}

.navAccUsername{
    font-size: 12px;
}

.accSettingsLink{
    text-decoration: none;
    color: white;
    outline: none;
}

.accSettingsLink:hover{
    text-decoration: underline;
}

.navAccLogOut{
    font-size: 10px;
}

.link{
    color: lightgray;
    text-decoration: none;
    outline: none;
}

.link:hover{
    text-decoration: underline;
    font-style: italic;
    color: white;
}


/*BOTTOM - NAV ACCOUNT*/

/*-----------------------------NAVBAR - LEFT-----------------------------*/

/*-----------------------------CONTENT - RIGHT-----------------------------*/

.right {
    /*
    background-color: #001f29;*/
    /*background-color: black;*/
    /*
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 65vw;
    */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/*TOP MENU*/

.rightTop{
    display: flex;
    flex: 7.5%;
    width: 100%;
    margin-top: 5px;
    justify-content: center
}

.rightTopInner{
    width: 98%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 35% 30% 35%;
    height: 50px;
    border-radius: 20px;
    /*background-color: #002b3a;*/
    background-color: rgb(15, 15, 15);
    /*padding-left: 10px; 
    padding-right: 10px;*/
    padding: 0 20px;
}

.rightTopInner > div{
    /*margin-top: 9px;*/
    font-size: 14px;
}

.leftTop{
    margin-top: 9px;
}

.newMailTopBtn, .addContactTopBtn{
    font-size: 14px;
    padding: 5px;
    color: white;
    border-radius: 5px;
    outline: none;
    border: 0;
    background-color: #0042bd;
    font-family: 'Kanit', sans-serif;
}

.newMailTopBtn:hover, .addContactTopBtn:hover{
    background-color: #003699;
}

.rightInner{
    position: relative;
    flex: 92.5%;
    width: 95%;
    padding-left: 2.5vw;
}

.topBarImg{
    width: 16px;
    height: 16px;
}

.middleTop{
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: auto;
    height: 100%;
    margin-top: 0;
    justify-content: center;
}

.searchBarWrap{
    width: 100%;
    border-radius: 25px;
    border: 1px solid gray;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 40px auto 30px;
    margin-top: 2.5px;
    height: 35px;
    padding: 2.5px 10px;
}

.searchTopImg{
    width: 24px;
    height: 24px;
    margin-top: 2.5px;
}

.searchTopBtn{
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-color: transparent;
    border: none;
}

.searchTopTextBox{
    max-width: 95%;
    width: 95%;
    background-color: transparent;
    color: white;
    /*border: 1px solid white;*/
    border: 0;
    outline: none;
    font-size: 14px;
    margin-top: 6px;
    font-family: 'Kanit', sans-serif;
}

.searchTopTextBox:focus{
    border-bottom: 1px solid rgb(90, 90, 90);
}

.searchTopTextBox:hover{
    border-bottom: 1px solid rgb(90, 90, 90);
}

.rightTopGrid{
    width: 100%;
    justify-content: right;
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
}

.rightTopGrid > div{
    margin-left: 10px;
}

.rightTopBtn, .rightTopBtn1{
    background-color: transparent;
    width: 27.5px;
    height: 27.5px;
    /**border: 1px solid rgb(200, 200, 200);*/
    margin-top: 11.5px;
    outline: none;
    border: 0;
}

.TopClearBtn{
    display: none;
    background-color: transparent;
    width: 20px;
    height: 20px;
    margin-top: 7.5px;
    outline: none;
    border: 0;
}

.TopDotsBtn{
    background-image: url("../pictures/dots_icon.png");
    background-size: contain;
    margin-left: -4.5px;
}

.TopDotsBtn:hover{
    background-image: url("../pictures/dots_icon_hover.png");
}

.TopCopyBtn{
    background-image: url("../pictures/copy_icon.png");
    background-size: contain;
    margin-left: 2px;
}

.TopCopyBtn:hover{
    background-image: url("../pictures/copy_icon_hover.png");
}

.TopDeleteBtn{
    background-image: url("../pictures/trash_icon.png");
    background-size: contain;
}

.TopDeleteBtn:hover{
    background-image: url("../pictures/trash_icon_hover.png");
}

.TopClearBtn{
    background-image: url("../pictures/cancel_icon_grey.png");
    background-size: contain;
}

.TopClearBtn:hover{
    background-image: url("../pictures/cancel_icon_hover.png");
}

/*TOP MENU*/

/*-----------------------------CONTENT - RIGHT-----------------------------*/

/*SWITCH*/

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 6px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

.slider.round {
    border-radius: 15px;
}

.slider.round:before {
    border-radius: 50%;
}

/*SWITCH*/

/*SCROLLBAR*/

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb{
    height: 10px;
    margin-right: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: gray; 
    height: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(177, 177, 177); 
}

/*SCROLLBAR*/