@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

body {
    width: 100vw;
    height: 100vh;
    min-height: 750px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
    background-color: rgb(5, 5, 5);
    overflow-x: hidden;
    /*font-family: 'Kanit', sans-serif;*/
    /*font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif*/
    /*background-image: url("../pictures/logo_icon.jpg");
    background-size: 150px;
    backdrop-filter: blur(3px);*/
    color: white;
    font-family: 'Kanit', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

.mainWrap{
    display: grid;
    width: 100vw;
    justify-content: center;
}

.main{
    width: 400px;
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    padding: 15px;
    border-radius: 15px;
    /*width: 30vw;*/
    height:  650px;
    border: 1px solid white;
    /*margin-top: 20%;
    margin-bottom: 20%;
    height: 60%;*/
}

.mainTitle{
    display: grid;
    justify-content: center;
    font-size: 16px;
}

.mainInner{
    /*max-height: 50vh;*/
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    height: auto;
}

/*ACCOUNTS LIST*/

.accountsList{
    display: grid;
    justify-content: center;
    height: auto;
}

.accountWrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: none;
    border: 1px solid white;
    padding: 25px;
    height: 40px;
    border-radius: 15px;
    width: 325px;
    background-color: rgb(5, 5, 5);
    margin-bottom: 7.5px;
}

.accountWrap:hover{
    background-color: rgb(10, 10, 10);
}

.accountInner{
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 75% 25%;
    font-size: 16px;
    height: 30px;
    margin-top: 2.5px;
}

.accountName{
    text-align: left;
}

.accountArrowWrap{
    display: grid;
    grid-template-rows: auto;
    justify-content: right;
    text-align: right;
}

.accountArrow{
    display: flex;
    font-family: 'Kanit', sans-serif;
    color: black;
    background-color: white;
    text-align: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border: 0;
    border-radius: 22.5px;
}

.accountArrow > p{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

.mainBottom{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

.mainBottomInner{
    height: 100%;
    flex: 100%;
}

.registerLink{
    text-decoration: none;
    color: rgb(72, 72, 250);
}

.registerLink:hover{
    color: rgb(100, 100, 255);
}

.arrowIcon{
    object-fit: cover;
    width: 22.5px;
    height: 22.5px;
    margin-left: 0.5px;
    margin-top: 0.5px;
}

/*
.accountArrow:hover{
    width: 27.5px;
    height: 27.5px;
    transform: 0.3s;
    .arrowIcon{
        width: 25px;
        height: 25px;
        margin-left: 0.48px;
    }
}
*/

.loginPromptWrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginPromptWrap > div{
    margin-bottom: 15px;
}

.backBtn{
    font-family: 'Kanit', sans-serif;
    background-color: transparent;
    outline: none;
    padding: 10px;
    border: 1px solid white;
    color: white;
    font-size: 13px;
    border-radius: 10px;
}

.loginName{
    color: white;
    font-style: italic;
    font-size: 13px;
}

.loginTitle{
    width: 300px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
}

.loginPromptInner{
    display: grid;
    grid-template-columns: 80% 20%;
    border-bottom: 1px solid white;
    width: 300px;
}

.passwordTextField{
    font-family: 'Kanit', sans-serif;
    color: white;
    font-size: 14px;
    width: 100%;
    border: 0;
    background-color: transparent;
    outline: none;
    margin-bottom: 5px;
}

.loginPromptBack{
    display: grid;
    justify-content: left;
    text-align: left;
}

.loginPromptSubmitWrap{
    display: grid;
    justify-content: right;
    text-align: right;
}

.submitLoginBtn{
    font-family: 'Kanit', sans-serif;
    outline: none;
    background-color: transparent;
    color: white;
    padding: 10px;
    font-size: 13px;
    border-radius: 10px;
    border: 1px solid white;
}

.backBtn:hover{
    background-color: rgb(25, 25, 25);
}

.submitLoginBtn:hover{
    background-color: rgb(25, 25, 25);
}

.showPassBtn{
    font-family: 'Kanit', sans-serif;
    color: gray;
    font-size: 13px;
    background-color: transparent;
    border: none;
    outline: none;
}

.showPassWrap{
    display: grid;
    justify-content: right;
}

/*ACCOUNTS LIST*/

/*
.arrowIcon:hover{
    width: 27.5px;
    height: 27.5px;
    bottom: 10px;
}
*/

