/*NEW MAIL*/

.newMailFrame {
    float: right;
    position: absolute;
    /*top: auto;*/
    /*left: auto;*/
    bottom: 4vh;
    right: 0px;
    width: 20vw;
    /*max-width: 400px;
    min-width: 365px;
    min-width: 15vw;*/
    height: auto;
    /*width: 100%;*/
    display: none;
    flex-direction: column;
    font-family: 'Kanit', sans-serif;;
    background-color: rgb(15, 15, 15);
    border-radius: 15px;
    border: 1px solid white;
}

.newMailPurposeTextField{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    width: 17.5vw;
}

.purposeLeft{
    display: grid;
    justify-content: left;
    text-align: left;
}

.purposeRight{
    display: flex;
    flex-direction: row;
    justify-content: right;
    text-align: right;
    width: auto;
}

.newPurposeBottomInner{
    display: flex;
    flex-direction: row;
}

.newPurposeBottomInner > div{
    margin-left: 5px;
}

.NewRecipientBottom{
    display: flex;
    flex-direction: row;
}

.NewRecipientTextDiv{
    width: 10vw;
    justify-content: left;
    text-align: left;
}

.NewRecipientAdd{
    width: 7.5vw;
    display: flex;
    justify-content: right;
    font-size: 14px;
    font-family: 'Kanit', sans-serif;
}

.NewRecipientAddInner{
    display: flex;
    flex-direction: row;
}

.NewRecipientAddInner > div{
    margin: 2.5px;
}


.newMailAddContactBtn{
    display: inline;
    background-color: transparent;
    background-image: url("../pictures/white_pfp_hover.png");
    background-size: cover;
    border-radius: 25px;
    border: 1px solid white;
    color: white;
    font-family: 'Kanit', sans-serif;
    vertical-align: middle;
    width: 25px;
    height: 25px;
}

.newMailAddContactBtn:hover{
    background-color: #02394a;
}

@media screen and (max-width: 1300px) {
    /*.newMailFrame{
        width: 30vw;
    }*/

    .newMailPurposeTextField{
        display: flex;
        flex-direction: column;
    }

    .purposeLeft{
        display: grid;
        justify-content: left;
        text-align: left;
    }
    
    .purposeRight{
        display: grid;
        justify-content: left;
        text-align: left;
    }

    .NewRecipientBottom{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
}


.NewPurposeTop{
    display: flex;
    flex-direction: row;
}

.newMailHeadImg{
    width: 30px;
    height: 30px;
}   

#newMailHeadTitleText{
    padding: 0.25vh 0.5vw;
}

.newMailTop{
    margin-bottom: 0.5vh;
}

.newMailHead{
    display: flex;
    flex-direction: row;
    justify-content: right;
    /*font-size: 18px;*/
    font-size: 16px;
    font-family: 'Kanit', sans-serif;
    margin-bottom: 0;
    /*padding: 15px 15px 0 15px;*/
    padding: 15px 1vw 0 15px;
}

.newMailNavBtn{
    outline: none;
    background-color: transparent;
    /*
    width: 20px;
    height: 20px;
    */
    width: 15px;
    height: 15px;
    border: none;
    margin: 5px;
    transition: 0.1s;
}

.newMailNavBtn:hover{
    transition: 0.25s;
    /*
    width: 22.5px;
    height: 22.5px;
    */
    width: 17.5px;
    height: 17.5px;
}

#fullscreenBtn{
    background-image: url("../pictures/full_icon.png");
    background-size: contain;
}

#hideNewMail{
    background-image: url("../pictures/cancel_icon.png");
    background-size: contain;
}

#minimizeBtn{
    background-image: url("../pictures/minimize_icon.png");
    background-size: contain;
}


.newMailLeft{
    flex: 75%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: left;
}

.newMailRight{
    display: flex;
    flex-direction: row;
    flex: 25%;
    justify-content: right;
    text-align: right;
}

.newMailWrap{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: rgb(15, 15, 15);
    border-radius: 15px;
}

.newMailCh{
    margin-bottom: 0.35vh;
}

.newMailTitle{
    display: flex;
    flex-direction: column;
    /*margin-bottom: 12.5px !important;*/
}

.newMailTitleImg {
    width: 30px;
    height: 30px;
}

.newMailTitleTop{
    display: flex;
    flex-direction: row;
    font-size: 16px;
}

.newMailTitleTop > div{
    margin-right: 5px;
}

.newMailTextField {
    font-size: 14px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    border-bottom: 1px solid white;
    width: 17.5vw;
    font-family: 'Kanit', sans-serif;
}

.newMailTextField:hover{
    border-bottom: 2px solid white;
}

.newMailTextField:focus{
    border-bottom: 2px solid white;
}

.NewMailSubmitBtn {
    width: 60px;
    height: 30px;
    margin-top: 5px;
    margin-left: 10px;
    /*border-radius: 1vw;*/
    outline: none;
    border: none;
    background-color: transparent;
    /*border: 1px solid white*/
    background-image: url("../pictures/arrow_icon_neutral.png");
    background-size: cover;
}

.NewMailSubmitBtn:hover {
    background-image: url("../pictures/arrow_icon_hover.png");
}

.NewRecipientBtn {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: transparent;
    border: none;
    background-image: url("../pictures/white_pfp.png");
    background-size: cover;
}

.NewRecipientBtn:hover {
    background-image: url("../pictures/white_pfp_hover.png");
    background-color: #02394a;
}

.newRecipientDropDown{
    /*font-size: 15px;*/
    font-size: 14px;
    padding: 5px;
    transition: 0.1s;
    background-color: transparent;
    border: none;
    border-left: 3px solid white;
    outline: none;
    color: white;
    font-family: 'Kanit', sans-serif;
}

.newRecipientDropDown:hover {
    transition: 0.1s;
    border-left: 7.5px solid white;
    font-weight: bold;
    background-color: rgb(41, 0, 0);
}

.newRecipientDropDown:focus {
    border-left: 7.5px solid white;
    font-weight: bold;
    background-color: transparent;
}

.newRecipientDropDown option {
    color: black;
    background-color: transparent;
    font-size: 13px;
}

.newPurposeBtn {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    background-image: url("../pictures/question_mark_icon_neutral.png");
    background-size: cover;
}

.newPurposeBtn:hover {
    background-image: url("../pictures/question_mark_icon_hover.png");
}

.newPurposeDropDown{
    font-size: 14px;
    /*font-size: 15px;*/
    transition: 0.1s;
    color: white;
    background-color: transparent;
    outline: none;
    border: none;
    border-left: 3px solid white;
    padding: 5px;
    font-family: 'Kanit', sans-serif;
}

.newPurposeDropDown option{
    color: black;
}

.newPurposeDropDown:hover{
    transition: 0.1s;
    border-left: 7.5px solid white;
    font-weight: bold;
    background-color: rgb(40, 0, 40);
}

.newPurposeDropDown:focus{
    border-left: 7.5px solid white;
    font-weight: bold;
    background-color: transparent;
}

.newExtraBtn {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    background-image: url("../pictures/plus_icon_neutral.png");
    background-size: cover;
}

.newExtraBtn:hover {
    background-image: url("../pictures/plus_icon_hover.png");
}

.newPurposeBottom{
    margin-top: 5px;
}

.newMailPurpose{
    display: grid;
    margin-bottom: 0px;
}

.newPurposeTopTitle{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    /*font-size: 18px;*/
}

.newPurposeTopTitle > div{
    margin-right: 5px;
}

.newFormality{
    display: flex;
    flex-direction: row;
}

.newFormalityOutput{
    font-size: 14px;
    font-family: 'Kanit', sans-serif;
}

.newMailFormalitySwitchWrap{
    margin-bottom: 0;
}

.newReasonTextField{
    border-radius: 10px;
    font-size: 13px;
    color: white;
    font-family: 'Kanit', sans-serif;
    border: 1px solid white;
    background-color: transparent;
    outline: none;
    resize: none;
    width: 17.5vw;
    height: 10vh;
    min-height: 5ch;
    padding: 5px;
}

.newReasonTextField:hover{
    border: 2px solid white;
}

.newReasonTextField:focus{
    border: 2px solid white;
}

.newReasonTitleField{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    /*margin-bottom: 5px;*/
    margin-bottom: 0.25vh;
}

.newPurposeTitle{
    margin-top: 5px;
    font-size: 16px;
    /*font-size: 18px;*/
}

.newReasonTitleField > div{
    margin-right: 5px;
}

.purposeImg{
    width: 30px;
    height: 30px;
}

.newMailBtnWrap{
    display: flex;
    flex-direction: row;
}

.newMailBtnWrap > div{
    margin-right: 5px;
}

.newMailRecipient{
    display: flex;
    flex-direction: column;
}

.newRecipientTitle{
    font-size: 16px;
    /*font-size: 18px;*/
}

.NewRecipientTop{
    display: flex;
    flex-direction: row;
}

.newMailGenerateBtn{
    font-family: 'Kanit', sans-serif;
    color: white;
    border: 1px solid white;
    border-radius: 7.5px;
    padding: 7.5px;
    outline: none;
    background-color: transparent;
    font-size: 13px;
}

.newMailGenerateBtn:hover{
    background-color: #0042bd;
}

.newMailStar{
    font-size: 13px;
    color: rgb(255, 105, 105) !important;
    vertical-align: super; 
}

.newMailHelpText{
    font-size: 11px;
    color: lightgray;
    padding-top: 10px;
}

.newMailHelpBtn{
    width: 25px;
    height: 25px;
    background-image: url("../pictures/help_icon.png");
    background-size: contain;
    background-color: transparent;
    border-radius: 25px;
    margin-top: 5px;
    border: none;
}

.newMailHelpBtn:hover{
    background-color: rgb(50, 50, 50);
}

.newMailAddContactWrap{
    flex: content;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#generateLoadingImg{
    width: 12.5px;
    height: 12.5px;
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0;
    margin: 0;
    /*margin-top: 5px;*/
}


/*NEW MAIL*/