/*NEW MAIL*/

.newMailFrame {
    display: none;
    flex-direction: column;
}

.newMailTitle, .newMailRecipient, .newPurposeTop, .newMailHead{
    display: inline-flex;
}

.newMailHeadImg{
    width: 4vw;
    height: 4vw;
}   

#newMailHeadTitleText{
    padding: 0.25vw 0.75vw;
}

.newMailHead{
    font-size: 2.5vw;
    font-family: 'Kanit', sans-serif;
    margin-bottom: 1.5vw;
}

.newMailWrap{
    display: flex;
    flex-direction: column;
    padding: 1.5vw;
    background-color: #012a38;
    border-radius: 2vw;
}

.newMailWrap > div {
    margin-bottom: 1.5vw;
}



/*.newMailRecipient {
    margin-top: 1vw;
}*/

.newMailTitle > div, .newMailRecipient > div, .newPurposeTop > div, .newPurposeBottom > div{
    margin: 0.5vw;
}

/*.newMailPurpose > div{
    margin-bottom: 1vw;
}*/

.newMailTitle{
    margin-bottom: 1.25vw !important;
}

.newMailTitleImg {
    width: 4vw;
    height: 4vw;
}

.newMailTextField {
    font-size: 1.75vw;
    height: 3.5vw;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    padding-bottom: 0;
    width: 30ch;
}

.NewMailSubmitBtn {
    width: 6vw;
    height: 3vw;
    margin-top: 1.25vw;
    margin-left: 2vw;
    /*border-radius: 1vw;*/
    outline: none;
    border: none;
    background-color: transparent;
    /*border: 1px solid white*/
    background-image: url("../pictures/arrow_icon_neutral.png");
    background-size: cover;
}

.NewMailSubmitBtn:hover {
    background-image: url("../pictures/arrow_icon_hover.png");
}

.NewRecipientBtn {
    width: 4vw;
    height: 4vw;
    border-radius: 4vw;
    background-color: transparent;
    border: none;
    background-image: url("../pictures/white_pfp.png");
    background-size: cover;
}

.NewRecipientBtn:hover {
    background-image: url("../pictures/white_pfp_hover.png");
    background-color: #02394a;
}

.newRecipientDropDown {
    font-size: 2vw;
    height: 4vw;
    /*margin-left: 1vw;*/
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
    color: white;
}

.newRecipientDropDown:hover {
    border-bottom: 1px solid white;
}

.newRecipientDropDown option {
    color: black;
    background-color: transparent;
    font-size: 1.5vw;
}

.newPurposeBtn {
    width: 4vw;
    height: 4vw;
    background-color: transparent;
    border: none;
    background-image: url("../pictures/question_mark_icon_neutral.png");
    background-size: cover;
}

.newPurposeBtn:hover {
    background-image: url("../pictures/question_mark_icon_hover.png");
}

.newPurposeDropDown {
    font-size: 2vw;
    height: 3vw;
    width: 30ch;
    color: white;
    background-color: transparent;
    outline: none;
    border: 1px solid transparent;
    /*margin-left: 1vw;*/
}

.newPurposeDropDown option{
    color: black;
}

.newPurposeDropDown:hover{
    border-bottom: 1px solid white;
}

.newExtraBtn {
    width: 3vw;
    height: 3vw;
    background-color: transparent;
    border: none;
    outline: none;
    background-image: url("../pictures/plus_icon_neutral.png");
    background-size: cover;
}

.newExtraBtn:hover {
    background-image: url("../pictures/plus_icon_hover.png");
}

.newPurposeBottom {
    margin-left: 5.5vw;
}

.newMailPurpose{
    display: grid;
    margin-bottom: 0px;
}

.newFormality{
    display: inline-flex;
}

.newFormalityOutput{
    font-size: 1.75vw;
}

.newMailFormalitySwitchWrap{
    margin-bottom: 0;
}

.newReasonTextField{
    border-radius: 0.5vw;
    font-size: 1.25vw;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid white;
    background-color: transparent;
    outline: none;
    resize: none;
    width: 50ch;
    height: 13ch;
    min-height: 5ch;
}

.newReasonTitleField{
    font-size: 1.75vw;
}

/*NEW MAIL*/