/*NEW MAIL*/

.newMailFrame {
    display: none;
    flex-direction: column;
    font-family: 'Kanit', sans-serif;
}

.newMailTitle, .newMailRecipient, .newPurposeTop, .newMailHead{
    display: inline-flex;
}

.newMailHeadImg{
    width: 30px;
    height: 30px;
}   

#newMailHeadTitleText{
    padding: 2.5px 7.5px;
}

.newMailHead{
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
    margin-bottom: 15px;
}

.newMailWrap{
    display: flex;
    flex-direction: column;
    padding: 15px;
    /*background-color: #012a38;*/
    background-color: rgb(15, 15, 15);
    border-radius: 15px;
    max-width: 750px;
}

.newMailWrap > div {
    margin-bottom: 15px;
}



/*.newMailRecipient {
    margin-top: 1vw;
}*/

.newMailTitle > div, .newMailRecipient > div, .newPurposeTop > div, .newPurposeBottom > div{
    margin: 5px;
}

/*.newMailPurpose > div{
    margin-bottom: 1vw;
}*/

.newMailTitle{
    margin-bottom: 12.5px !important;
}

.newMailTitleImg {
    width: 30px;
    height: 30px;
}

.newMailTextField {
    font-size: 14px;
    height: 30px;
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 0;
    width: 47.5ch;
    font-family: 'Kanit', sans-serif;
}

.NewMailSubmitBtn {
    width: 60px;
    height: 30px;
    margin-top: 5px;
    margin-left: 10px;
    /*border-radius: 1vw;*/
    outline: none;
    border: none;
    background-color: transparent;
    /*border: 1px solid white*/
    background-image: url("../pictures/arrow_icon_neutral.png");
    background-size: cover;
}

.NewMailSubmitBtn:hover {
    background-image: url("../pictures/arrow_icon_hover.png");
}

.NewRecipientBtn {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: transparent;
    border: none;
    background-image: url("../pictures/white_pfp.png");
    background-size: cover;
}

.NewRecipientBtn:hover {
    background-image: url("../pictures/white_pfp_hover.png");
    background-color: #02394a;
}

.newRecipientDropDown {
    font-size: 14px;
    height: 20px;
    margin-top: 7.5px;
    width: 35ch;
    /*margin-left: 1vw;*/
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
    color: white;
    font-family: 'Kanit', sans-serif;
}

.newRecipientDropDown:hover {
    /*border-bottom: 1px solid white;*/
    font-weight: bold;
}

.newRecipientDropDown option {
    color: black;
    background-color: transparent;
    font-size: 13px;
}

.newPurposeBtn {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    background-image: url("../pictures/question_mark_icon_neutral.png");
    background-size: cover;
}

.newPurposeBtn:hover {
    background-image: url("../pictures/question_mark_icon_hover.png");
}

.newPurposeDropDown {
    font-size: 14px;
    height: 30px;
    width: 35ch;
    color: white;
    background-color: transparent;
    outline: none;
    border: 1px solid transparent;
    font-family: 'Kanit', sans-serif;
    /*margin-left: 1vw;*/
}

.newPurposeDropDown option{
    color: black;
}

.newPurposeDropDown:hover{
    /*border-bottom: 1px solid white;*/
    font-weight: bold;
}

.newExtraBtn {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    background-image: url("../pictures/plus_icon_neutral.png");
    background-size: cover;
}

.newExtraBtn:hover {
    background-image: url("../pictures/plus_icon_hover.png");
}

.newPurposeBottom {
    margin-left: 45px;
}

.newMailPurpose{
    display: grid;
    margin-bottom: 0px;
}

.newFormality{
    display: inline-flex;
}

.newFormalityOutput{
    font-size: 14px;
    font-family: 'Kanit', sans-serif;
}

.newMailFormalitySwitchWrap{
    margin-bottom: 0;
}

.newReasonTextField{
    border-radius: 5px;
    font-size: 14px;
    color: white;
    font-family: 'Kanit', sans-serif;
    border: 1px solid white;
    background-color: transparent;
    outline: none;
    resize: none;
    width: 50ch;
    height: 13ch;
    min-height: 5ch;
    padding: 5px;
}

.newReasonTitleField{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    margin-bottom: 5px;
}

.newPurposeTitle{
    margin-top: 5px;
}

.newReasonTitleField > div{
    margin-left: 5px;
    margin-right: 5px;
}

.newMailReasonTextField{
    margin-left: 5px;
}

.newReason{
    padding: 5px;
}

.purposeImg{
    width: 30px;
    height: 30px;
}

.newMailGenerate{
    margin-left: 10px;
}

.newMailBtnWrap{
    display: flex;
    flex-direction: row;
}

.newMailBtnWrap > div{
    margin-right: 5px;
}

.newMailGenerateBtn{
    font-family: 'Kanit', sans-serif;
    color: white;
    border: 1px solid white;
    border-radius: 7.5px;
    padding: 7.5px;
    outline: none;
    background-color: transparent;
    font-size: 13px;
}

.newMailGenerateBtn:hover{
    background-color: #0042bd;
}

.newMailStar{
    font-size: 10px;
    color: rgb(255, 28, 28) !important;
    vertical-align: super; 
}

.newMailHelpText{
    font-size: 11px;
    color: lightgray;
    padding-top: 10px;
}

.newMailHelpBtn{
    width: 25px;
    height: 25px;
    background-image: url("../pictures/help_icon.png");
    background-size: contain;
    background-color: transparent;
    border-radius: 25px;
    margin-top: 5px;
    border: none;
}

.newMailHelpBtn:hover{
    background-color: rgb(50, 50, 50);
}

.newMailAddContactWrap{
    flex: content;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.newMailAddContactBtn{
    display: inline;
    background-color: transparent;
    background-image: url("../pictures/white_pfp_hover.png");
    background-size: cover;
    padding: 5px;
    margin-left: 70px;
    margin-top: 5px;
    border-radius: 30px;
    border: 1px solid white;
    color: white;
    font-family: 'Kanit', sans-serif;
    vertical-align: middle;
    width: 30px;
    height: 30px;
}

/*
.newMailAddContactBtnImg{
    width: 20px;
    height: 20px;
}

.newMailAddContactBtnText{
    padding: none;
}
*/
.newMailAddContactBtn:hover{
    background-color: #02394a;
}

/*NEW MAIL*/