/*NEW MAIL*/

.newMailFrame {
    float: right;
    position: absolute;
    top: 30%;
    left: 60vw;
    width: 500px;
    height: 500px;
    display: none;
    flex-direction: column;
    font-family: 'Kanit', sans-serif;;
    background-color: rgb(15, 15, 15);
    border-radius: 15px;
}

.NewPurposeTop{
    display: flex;
    flex-direction: row;
}

.newMailHeadImg{
    width: 30px;
    height: 30px;
}   

#newMailHeadTitleText{
    padding: 2.5px 7.5px;
}

.newMailTop{
    margin-bottom: 5px;
}

.newMailHead{
    display: flex;
    flex-direction: row;
    justify-content: right;
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
    margin-bottom: 0;
    padding: 15px 15px 0 15px;
}

.newMailLeft{
    flex: 50%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: left;
}

.newMailRight{
    display: flex;
    flex-direction: row;
    flex: 50%;
    justify-content: right;
    text-align: right;
}

.newMailWrap{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: rgb(15, 15, 15);
    border-radius: 15px;
}

.newMailWrap > div{
    margin-bottom: 15px;
}

.newMailTitle{
    display: flex;
    flex-direction: column;
    margin-bottom: 12.5px !important;
}

.newMailTitleImg {
    width: 30px;
    height: 30px;
}

.newMailTitleTop{
    display: flex;
    flex-direction: row;
    font-size: 18px;
}

.newMailTitleTop > div{
    margin-right: 5px;
}

.newMailTextField {
    font-size: 14px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    border-bottom: 1px solid white;
    width: 47.5ch;
    font-family: 'Kanit', sans-serif;
}

.newMailTextField:hover{
    border-bottom: 2px solid white;
}

.newMailTextField:focus{
    border-bottom: 2px solid white;
}

.NewMailSubmitBtn {
    width: 60px;
    height: 30px;
    margin-top: 5px;
    margin-left: 10px;
    /*border-radius: 1vw;*/
    outline: none;
    border: none;
    background-color: transparent;
    /*border: 1px solid white*/
    background-image: url("../pictures/arrow_icon_neutral.png");
    background-size: cover;
}

.NewMailSubmitBtn:hover {
    background-image: url("../pictures/arrow_icon_hover.png");
}

.NewRecipientBtn {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: transparent;
    border: none;
    background-image: url("../pictures/white_pfp.png");
    background-size: cover;
}

.NewRecipientBtn:hover {
    background-image: url("../pictures/white_pfp_hover.png");
    background-color: #02394a;
}

.newRecipientDropDown{
    font-size: 15px;
    padding: 5px;
    transition: 0.1s;
    background-color: transparent;
    border: none;
    border-left: 3px solid white;
    outline: none;
    color: white;
    font-family: 'Kanit', sans-serif;
}

.newRecipientDropDown:hover {
    transition: 0.1s;
    border-left: 7.5px solid white;
    font-weight: bold;
    background-color: rgb(41, 0, 0);
}

.newRecipientDropDown:focus {
    border-left: 7.5px solid white;
    font-weight: bold;
    background-color: transparent;
}

.newRecipientDropDown option {
    color: black;
    background-color: transparent;
    font-size: 13px;
}

.newPurposeBtn {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    background-image: url("../pictures/question_mark_icon_neutral.png");
    background-size: cover;
}

.newPurposeBtn:hover {
    background-image: url("../pictures/question_mark_icon_hover.png");
}

.newMailPurposeTextField{
    display: flex;
    flex-direction: row;
}

.newPurposeDropDown{
    font-size: 15px;
    transition: 0.1s;
    color: white;
    background-color: transparent;
    outline: none;
    border: none;
    border-left: 3px solid white;
    padding: 5px;
    font-family: 'Kanit', sans-serif;
}

.newPurposeDropDown option{
    color: black;
}

.newPurposeDropDown:hover{
    transition: ease-in 0.1s;
    border-left: 7px solid white;
    font-weight: bold;
    background-color: rgb(40, 0, 40);
}

.newPurposeDropDown:focus{
    border-left: 7px solid white;
    font-weight: bold;
    background-color: transparent
}

.newExtraBtn {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    background-image: url("../pictures/plus_icon_neutral.png");
    background-size: cover;
}

.newExtraBtn:hover {
    background-image: url("../pictures/plus_icon_hover.png");
}

.newPurposeBottom{
    margin-left: 175px;
    margin-top: 5px;
}

.newPurposeBottom > div{
    margin-right: 5px;
}

.newMailPurpose{
    display: grid;
    margin-bottom: 0px;
}

.newPurposeTopTitle{
    display: flex;
    flex-direction: row;
    font-size: 18px;
}

.newPurposeTopTitle > div{
    margin-right: 5px;
}

.newFormality{
    display: flex;
    flex-direction: row;
}

.newFormalityOutput{
    font-size: 14px;
    font-family: 'Kanit', sans-serif;
}

.newMailFormalitySwitchWrap{
    margin-bottom: 0;
}

.newReasonTextField{
    border-radius: 10px;
    font-size: 13px;
    color: white;
    font-family: 'Kanit', sans-serif;
    border: 1px solid white;
    background-color: transparent;
    outline: none;
    resize: none;
    width: 50ch;
    height: 13ch;
    min-height: 5ch;
    padding: 5px;
}

.newReasonTextField:hover{
    border: 2px solid white;
}

.newReasonTextField:focus{
    border: 2px solid white;
}

.newReasonTitleField{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    margin-bottom: 5px;
}

.newPurposeTitle{
    margin-top: 5px;
    font-size: 18px;
}

.newReasonTitleField > div{
    margin-right: 5px;
}

.purposeImg{
    width: 30px;
    height: 30px;
}

.newMailBtnWrap{
    display: flex;
    flex-direction: row;
}

.newMailBtnWrap > div{
    margin-right: 5px;
}

.newMailRecipient{
    display: flex;
    flex-direction: column;
}

.newRecipientTitle{
    font-size: 18px;

}

.NewRecipientTop{
    display: flex;
    flex-direction: row;
}

.newMailGenerateBtn{
    font-family: 'Kanit', sans-serif;
    color: white;
    border: 1px solid white;
    border-radius: 7.5px;
    padding: 7.5px;
    outline: none;
    background-color: transparent;
    font-size: 13px;
}

.newMailGenerateBtn:hover{
    background-color: #0042bd;
}

.newMailStar{
    font-size: 13px;
    color: rgb(255, 105, 105) !important;
    vertical-align: super; 
}

.newMailHelpText{
    font-size: 11px;
    color: lightgray;
    padding-top: 10px;
}

.newMailHelpBtn{
    width: 25px;
    height: 25px;
    background-image: url("../pictures/help_icon.png");
    background-size: contain;
    background-color: transparent;
    border-radius: 25px;
    margin-top: 5px;
    border: none;
}

.newMailHelpBtn:hover{
    background-color: rgb(50, 50, 50);
}

.newMailAddContactWrap{
    flex: content;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.newMailAddContactBtn{
    display: inline;
    background-color: transparent;
    background-image: url("../pictures/white_pfp_hover.png");
    background-size: cover;
    padding: 5px;
    margin-left: 70px;
    margin-top: 5px;
    border-radius: 30px;
    border: 1px solid white;
    color: white;
    font-family: 'Kanit', sans-serif;
    vertical-align: middle;
    width: 30px;
    height: 30px;
}

.newMailAddContactBtn:hover{
    background-color: #02394a;
}

.newMailNavBtn{
    outline: none;
    background-color: transparent;
    width: 20px;
    height: 20px;
    border: none;
    margin: 5px;
    transition: 0.1s;
}

.newMailNavBtn:hover{
    transition: 0.25s;
    width: 22.5px;
    height: 22.5px;
}

#fullscreenBtn{
    background-image: url("../pictures/full_icon.png");
    background-size: contain;
}

#hideNewMail{
    background-image: url("../pictures/cancel_icon.png");
    background-size: contain;
}

/*NEW MAIL*/