@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

body {
    width: 100vw;
    height: 100vh;
    min-height: 750px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: rgb(5, 5, 5);
    overflow-x: hidden;
    color: white;
    font-family: 'Kanit', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

.mainWrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    width: 500px;
    border: 1px solid white;
    height: auto;
}

.backLink{
    color: rgb(72, 72, 250);
    text-decoration: none;
}

.backLink:hover{
    color: rgb(100, 100, 255);
}

.registerMiddle{
    display: flex;
    flex-direction: column;
    justify-content: center;
}