@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

body {
    width: 100vw;
    height: 100vh;
    min-height: 750px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: rgb(5, 5, 5);
    overflow-x: hidden;
    color: white;
    font-family: 'Kanit', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

.mainWrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    width: 400px;
    border: 1px solid white;
    border-radius: 15px;
    height: 650px;
}

.backLink{
    color: rgb(72, 72, 250);
    text-decoration: none;
}

.backLink:hover{
    color: rgb(100, 100, 255);
}

.registerMiddle{
    display: grid;
    justify-content: center;
}

.registerInner{
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
}

.registerInner > div{
    margin-bottom: 20px;
}

.RegisterTitle{
    margin-bottom: 10px;
    text-align: center;
}

.promptWrap{
    width: 300px;
}

.registerTop{
    text-align: center;
}

.ErrorWrap{
    color: rgb(252, 72, 72);
    font-size: 12px;
}

.registerTextBox{
    font-family: 'Kanit', sans-serif;
    background-color: transparent;
    color: white;
    font-size: 14px;
    border: none;
    outline: none;
}

.passwordInnerDiv{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 80% 20%;
    border-bottom: 1px solid white;
}

.borderBottom{
    border-bottom: 1px solid white;
    width: 300px;
}

.leftGrid{
    display: grid;
    justify-content: left;
    text-align: left;
}

.rightGrid{
    display: grid;
    justify-content: right;
    text-align: right;
}

.showHideBtn{
    background-color: transparent;
    color: gray;
    font-size: 13px;
    border: none;
    outline: none;
    font-family: 'Kanit', sans-serif;
    width: 50px;
    text-align: right;
}

.RegisterButtonsWrap{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
}

.registerBtn{
    color: white;
    padding: 10px;
    font-size: 13px;
    text-align: center;
    border: 1px solid white;
    background-color: transparent;
    font-family: 'Kanit', sans-serif;
    border-radius: 10px;
}

.registerBtn:hover{
    background-color: rgb(25, 25, 25);
}