@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

body {
    width: 100vw;
    height: 100vh;
    min-height: 750px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: rgb(5, 5, 5);
    overflow-x: hidden;
    color: white;
    font-family: 'Kanit', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

.mainWrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*MAIN REGISTER WINDOW*/

.main{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    width: 400px;
    padding: 15px;
    border: 1px solid white;
    border-radius: 15px;
    height: 650px;
}

.backLink{
    /*color: rgb(72, 72, 250);*/
    color: rgb(243, 243, 205);
    text-decoration: none;
}

.backLink:hover{
    /*color: rgb(100, 100, 255);*/
    color: white;
}

.registerMiddle{
    display: grid;
    justify-content: center;
}

.registerInner{
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
}

.registerInner > div{
    margin-bottom: 20px;
}

.RegisterTitle{
    margin-bottom: 10px;
    text-align: center;
}

.registerTitleText{
    padding: 0;
    margin: 5px;
}

.promptWrap{
    width: 300px;
}

.registerTop{
    text-align: center;
}

.ErrorWrap{
    color: rgb(252, 72, 72);
    font-size: 12px;
}

.registerTextBox{
    font-family: 'Kanit', sans-serif;
    background-color: transparent;
    color: white;
    font-size: 14px;
    border: none;
    outline: none;
}

.fullNameTextBox{
    border-bottom: 1px solid white;
}

.passwordInnerDiv{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 80% 20%;
    border-bottom: 1px solid white;
}

.borderBottom{
    border-bottom: 1px solid white;
    width: 300px;
}

.leftGrid{
    display: grid;
    justify-content: left;
    text-align: left;
}

.rightGrid{
    display: grid;
    justify-content: right;
    text-align: right;
}

.showHideBtn{
    background-color: transparent;
    color: gray;
    font-size: 13px;
    border: none;
    outline: none;
    font-family: 'Kanit', sans-serif;
    width: 50px;
    text-align: right;
}

.RegisterButtonsWrap{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
}

.registerBtn{
    color: white;
    padding: 10px;
    font-size: 13px;
    text-align: center;
    border: 1px solid white;
    background-color: transparent;
    font-family: 'Kanit', sans-serif;
    border-radius: 10px;
    height: 42.5px !important;
}

.registerBtn:hover{
    background-color: rgb(25, 25, 25);
}

.FullNameInner{
    width: 300px;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.fullNameTextBox{
    font-family: 'Kanit', sans-serif;
    background-color: transparent;
    color: white;
    font-size: 12px;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    width: 100%;
}

.firstNameWrap{
    margin-right: 15px;
}

.registerTopHint{
    font-size: 13px;
    color: lightgray;
}

/*MAIN REGISTER WINDOW*/

/*API KEY ENTER WINDOW*/

.apiMain{
    display: none;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    border-radius: 15px;
    border: 1px solid white;
    padding: 15px;
    height: 400px;
    width: 640px;
    justify-content: center;
}

.apiTop{
    display: grid;
    grid-template-rows: auto 20px 20px;
    grid-template-columns: auto;
    text-align: center;
}

.apiTitle{
    margin-bottom: 0;
}

.apiTitleText{
    margin: 0;
    padding-bottom: 5px;
}

.apiTitleInner{
    margin-bottom: 0;
    padding: 0 !important;
}

.apiTopHint, .apiBottomHint{
    color: lightgray;
    font-size: 13px;
}

.apiMiddle{
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    width: 100%;
}

.apiKeyRegisterInput{
    text-align: center;
    width: 90%;
    color: white;
    font-size: 13px;
    font-family: 'Kanit', sans-serif;
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid white;
    outline: none;
}

.apiKeyRegisterInput:focus, .apiKeyRegisterInput:hover{
    border-bottom: 2px solid white;
}

.apiMidBtnWrap{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.apiMidBtnInner{
    width: 90%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
}

.apiMidLeft{
    display: flex;
    justify-content: left;
}

.apiMidRight{
    display: flex;
    justify-content: right;
}

.apiMidBtn{
    color: white;
    padding: 2.5px 7.5px;
    font-size: 12px;
    text-align: center;
    border: 1px solid white;
    background-color: transparent;
    font-family: 'Kanit', sans-serif;
    border-radius: 10px;
}

.apiMidBtn:hover{
    background-color: rgb(25, 25, 25);
}

.apiBottom{
    display: flex;
    flex-direction: column-reverse;
}

.skipApiBtn{
    color: lightgray;
    font-size: 13px;
    padding: 5px;
    border: 0;
    outline: 0;
    font-family: 'Kanit', sans-serif;
    background-color: transparent;
}

.skipApiBtn:hover{
    text-decoration: underline;
    color: white;
}

#apiBtnImg{
    display: inline-block;
    vertical-align: middle;
    width: 12.5px;
    height: 12.5px;
}

#apiError{
    font-size: 13px !important;
    color: rgb(250, 64, 64);
}

/*API KEY ENTER WINDOW*/