@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

#totalCountOutput{
    font-weight: bold;
}

.searchFrame{
    display: none;
    flex-direction: column;
    font-family: 'Kanit', sans-serif;
}

.searchContentWrap{
    background-color: rgb(15, 15, 15);
    padding: 15px;
    border-radius: 15px;
}

.searchHeadWrap{
    display: flex;
    flex-direction: row;
    font-family: 'Kanit', sans-serif;
    font-family: 18px;
    margin-bottom: 12.5px;
}

.searchHeadImg{
    width: 30px;
    height: 30px;
    border: none;
}

.searchContactWrap, .searchMailWrap{
    margin-bottom: 10px;
}

.searchHeadTitle{
    padding: 2.5px 7.5px;
}

.searchTitleInner{
    font-size: 16px;
    font-family: 'Kanit', sans-serif;
}

.searchMailHead, .searchContactHead{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.searchMailHead > div, .searchContactHead > div{
    margin-right: 7.5px;
}

.searchContactsResultWrap, .searchMailResultsWrap{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#generateChapter{
    display: grid;
}


.tutorialArrowIcon{
    width: 10px;
    height: 10px;
}

.searchMailResultFrame{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 1px solid #016b92;
    border-bottom: 1px solid #016b92;
    padding: 5px 10px;
}

.searchMailResultFrame:hover{
    background-color: #016b92;
}

.searchMailResultInner, .searchContactResultFrameInner{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
}

.resultContactLink{
    color: white;
    text-decoration: none;
    font-size: 11px;
}

.resultContactLink:hover{
    text-decoration: underline;
}

.mailResultBottom, .contactResultBottom{
    font-size: 11px;
}

.mailResultLeft, .contactResultLeft{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: left;
    text-align: left;
}

.mailResultArrow{
    display: inline;
    vertical-align: middle;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    /*margin-top: 4.5px;*/
    width: 35px;
}

.mailResultIcon{
    margin-top: 5px;
    height: 25px;
    width: 35px;
}

.mailResultExtra{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    margin-right: 15px;
    font-size: 11px;
    margin-top: 2.5px;
}

.contactResultExtra{
    font-size: 14px;
    margin-top: 10px;
    margin-right: 15px;
}

.contactResultIcon{
    width: 25px;
    height: 25px;
}

.contactResultArrow{
    margin-top: 7.5px;
    width: 35px;
}

.mailResultRight, .contactResultRight{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-content: right;
    text-align: right;
}

.searchContactResultFrame{
    border-top: 1px solid #016b92;
    border-bottom: 1px solid #016b92;
    padding: 5px 10px;
}

.searchContactResultFrame:hover{
    background-color: #016b92;
}

.searchMailBtn, .contactResultsBtn{
    width: 10px;
    height: 10px;
    background-image: url("../pictures/arrow_down.png");
    background-size: contain;
    background-color: transparent;
    border: none;
    color: white;
}