@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

.searchFrame{
    display: none;
    flex-direction: column;
    font-family: 'Kanit', sans-serif;
}

.searchContentWrap{
    background-color: rgb(15, 15, 15);
    padding: 15px;
    border-radius: 15px;
}

.searchHeadWrap{
    display: flex;
    flex-direction: row;
    font-family: 'Kanit', sans-serif;
    font-family: 18px;
    margin-bottom: 12.5px;
}

.searchHeadImg{
    width: 30px;
    height: 30px;
    border: none;
}

.searchHeadTitle{
    padding: 2.5px 7.5px;
}

.searchTitleInner{
    font-size: 16px;
    font-family: 'Kanit', sans-serif;
}

/*
#searchStringOutput{
    font-style: bold;
}
*/