@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

#totalCountOutput{
    font-weight: bold;
}

.searchFrame{
    display: none;
    flex-direction: column;
    font-family: 'Kanit', sans-serif;
}

.searchContentWrap{
    background-color: rgb(15, 15, 15);
    padding: 15px;
    border-radius: 15px;
}

.searchHeadWrap{
    display: flex;
    flex-direction: row;
    font-family: 'Kanit', sans-serif;
    font-family: 18px;
    margin-bottom: 12.5px;
}

.searchHeadImg{
    width: 30px;
    height: 30px;
    border: none;
}

.searchContactWrap, .searchMailWrap{
    margin-bottom: 12.5px;
}

.searchHeadTitle{
    padding: 2.5px 7.5px;
}

.searchTitleInner{
    font-size: 16px;
    font-family: 'Kanit', sans-serif;
}

.searchMailHead, .searchContactHead{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.searchContactsResultWrap, .searchMailResultsWrap{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#generateChapter{
    display: grid;
}


.tutorialArrowIcon{
    width: 10px;
    height: 10px;
}

.searchMailResultFrame{
    border-top: 1px solid #016b92;
    border-bottom: 1px solid #016b92;
    padding: 5px 10px;
}

.searchMailResultFrame:hover{
    background-color: #016b92;
}

.searchContactResultFrame{
    border-top: 1px solid #016b92;
    border-bottom: 1px solid #016b92;
    padding: 5px 10px;
}

.searchContactResultFrame:hover{
    background-color: #016b92;
}
/*
#searchStringOutput{
    font-style: bold;
}
*/