/*SETTINGS*/

.settingsFrame{
    display: none;
    flex-direction: column;
}

.settingContentWrap{
    display: flex;
    flex-direction: column;
    background-color: rgb(15, 15, 15);
    border-radius: 15px;
    padding: 15px;
    font-family: 'Kanit', sans-serif;
}

.settingsHeadWrap{
    display: flex;
    flex-direction: row;
    margin-bottom: 12.5px;
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
}

.settingsTitleImg{
    width: 30px;
    height: 30px;
}

.settingsTitleWrap{
    padding: 2.5px 7.5px;
}

/*SETTINGS*/

/*ACC SETTINGS*/

.accSettingsWrap{
    margin-bottom: 15px;
}

.accSettingsTitle{
    font-size: 18px;
    margin-bottom: 10px;
}

.accSettingsContent{
    font-size: 15px;
}

.accSettingsContent > tr, .apiSettingsInner > tr{
    margin-bottom: 10px;
}

#accSettingsTableFirstCol{
    width: 100px;
}

.accSettingsUsernameTextField, .accSettingsPasswordTextField, .accSettingsNewPassTextField, .accSettingsEnterPassTextField, .apiKeyTextField, .changeFirstNameField, .changeLastNameField{
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
}

.accSettingsUsernameTextField:focus, .accSettingsPasswordTextField:focus, .accSettingsNewPassTextField:focus, .accSettingsEnterPassTextField:focus, .apiKeyTextField:focus, .changeLastNameField:focus, .changeFirstNameField:focus{
    border-bottom: 1px solid white;
}

.accSettingsNewPassTextField, .accSettingsEnterPassTextField{
    position: relative;
    z-index: -1;
}

.settingsBtn{
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid rgb(91, 91, 252);
    padding: 5px;
    background-color: rgb(91, 91, 252);
    font-family: 'Kanit', sans-serif;
    color: white;
    border: 0;
}

.settingsBtn:hover{
    color: rgb(91, 91, 252);
    border: 1px solid rgb(91, 91, 252);
    background-color: transparent;
}

.deleteAccBtn{
    color: rgb(255, 67, 67);
    background-color: transparent;
    outline: none;
    border: 1px solid rgb(255, 67, 67); 
    font-family: 'Kanit', sans-serif;
    padding: 5px;
    border-radius: 5px;
    font-size: 13px;
}

.deleteAccBtn:hover{
    color: white;
    background-color: rgb(200, 31, 31);
}

.accFullNameBtnWrap{
    display: inline;
}

.settingsBtn2{
    background-color: rgb(200, 31, 31);
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-image: url("../pictures/cancel_icon.png");
    background-size: contain;
    border: 0;
    outline: none;
    vertical-align: middle;
}

.settingsBtn2:hover{
    background-color: rgb(105, 13, 13);
}

.changePassBtnCancel{
    display: none;
}

.changeAccFullNameCancelBtn{
    display: none;
}

.changeUsernameCancelBtn{
    display: none;
}

.accSettingsPasswordBtnWrap{
    display: inline;
}

/*ACC SETTINGS*/

/*API SETTINGS*/

.accApiSettingsWrap{
    font-size: 15px;
}

.apiSettingsTitle{
    font-size: 18px;
    margin-bottom: 10px;
}

.apiSettingsInner{
    font-size: 15px;
    display: table;
}

.apiKeyTextFieldWrap{
    width: auto;
    display: inline;
}
/*API SETTINGS*/
