/*SETTINGS*/

.settingsFrame{
    display: none;
    flex-direction: column;
}

.settingContentWrap{
    background-color: rgb(15, 15, 15);
    border-radius: 15px;
    padding: 15px;
    font-family: 'Kanit', sans-serif;
}

.settingsHeadWrap{
    display: flex;
    flex-direction: row;
    margin-bottom: 12.5px;
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
}

.settingsTitleImg{
    width: 30px;
    height: 30px;
}

.settingsTitleWrap{
    padding: 2.5px 7.5px;
}



/*SETTINGS*/